{
  "plugins": ["react", "react-native"],
  "env": {
    "react-native/react-native": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react-native/all"],
  "rules": {
    "react-native/no-inline-styles": "off",
    "react-native/no-color-literals": "off",
    "linebreak-style": "off",
    "react/jsx-filename-extension": "off",
    "no-use-before-define": "off",
    "indent":"off",
    "react/jsx-curly-brace-persence": "off",
    "prefer-template": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off"
  }
}
